<div class="mt-3">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h3>餐廳列表</h3>
      {{>message}}
      <!-- restaurant list -->
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th width="50%" scope="col">Name</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          {{#each restaurants}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.Category.name}}</td>
            <td>{{this.name}}</td>
            <td>
              <button type="button" class="btn btn-link">
                <a href="/admin/restaurants/{{this.id}}">
                  Show
                </a>
              </button>
              <button type="button" class="btn btn-link">
                <a href="/admin/restaurants/{{this.id}}/edit">
                  Edit
                </a>
              </button>
              <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-link" onclick="return confirmWhileDelete()">Delete</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function confirmWhileDelete() {
    return confirm("確定要刪除嗎?")
  }
</script>