<!-- search bar -->
{{!-- <div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/admin/restaurants">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{ keyword }}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> --}}



<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h3>餐廳列表</h3>
      {{>message}}
      <!--sort bar-->
      {{!-- <div class="row mb-3 justify-content-end">
        <div class="col-md-4">
          <form action="/">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <label class="input-group-text border-0 bg-white" for="sortBy">排序方式</label>
              </div>
              <select class="custom-select" name="sortBy" id="sortBy" onchange="submit()">
                <option value="asc" {{#isEqual sortBy 'asc' }}selected{{/isEqual}}>A-Z</option>
                <option value="desc" {{#isEqual sortBy 'desc' }}selected{{/isEqual}}>Z-A</option>
                <option value="category" {{#isEqual sortBy 'category' }}selected{{/isEqual}}>類別</option>
                <option value="location" {{#isEqual sortBy 'location' }}selected{{/isEqual}}>地區</option>
              </select>
            </div>
          </form>
        </div>
      </div> --}}
      <!-- restaurant list -->
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th width="50%" scope="col">Name</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          {{#each restaurants}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>
              <button type="button" class="btn btn-link">
                <a href="/admin/restaurants/{{this.id}}">
                  Show
                </a>
              </button>
              <button type="button" class="btn btn-link">
                <a href="/admin/restaurants/{{this.id}}/edit">
                  Edit
                </a>
              </button>
              <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-link">Delete</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function confirmWhileDelete() {
    return confirm("確定要刪除嗎?")
  }
</script>