<!-- restaurant list -->
<div class="container mt-3">
  <h3>餐廳列表</h3>
  <div class="row justify-content-center">
    {{#each restaurants}}
    <div class="col-md-4 mb-3">
      <div class="card">
        <img class="card-img-top" style="height: 220px;" src="{{ this.image }}" alt="{{ this.name }}">
        <div class="card-body">
          <h6 class="card-title mb-1">{{ this.name }}</h6>

          <div class="restaurant-category mb-1">
            <i class="fas fa-utensils pr-2"></i> {{ this.category }}
          </div>
          <div class="restaurant-category mb-1">
            <i class="fas fa-map-marker-alt pr-2"></i> {{ this.location }}
          </div>
          <span class="badge badge-pill badge-danger font-weight-normal">
            {{ this.rating }}
            <i class="fas fa-star fa-xs"></i>
          </span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
</div>
</div>