<!-- restaurant list -->
<div class="container mt-3">
  <h3>餐廳列表</h3>

  <ul class="nav nav-pills mb-3">
    <li class="nav-item">
      <a class="nav-link {{#isEqual '' categoryId }}active{{/isEqual}}" href="?categoryId=">全部</a>
    </li>
    {{#each categories}}
    <li class="nav-item">
      <a class="nav-link {{#isEqual this.id ../categoryId }}active{{/isEqual}}" href="?categoryId={{this.id}}">
        {{this.name}}
      </a>
    </li>
    {{/each}}
  </ul>

  <div class="row mx-auto">
    {{#each restaurants}}
    <div class="col-md-4 mb-3">
      <a href="/restaurants/{{this.id}}" class="text-decoration-none">
        <div class="card h-100 text-info">
          <img class="card-img-top" style="height: 220px;" src="{{ this.image }}" alt="{{ this.name }}">
          <div class="card-body">
            <h6 class="card-title mb-1">{{ this.name }}</h6>

            <div class="restaurant-category mb-1">
              <span class="badge badge-secondary">{{this.categoryName}}</span>
            </div>
            <p class="card-text text-dark">{{this.description}}</p>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>

  {{#if totalPage}}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/restaurants?page={{prev}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {{#each totalPage}}
      <li class="page-item {{#isEqual this ../page}}active{{/isEqual}}">
        <a class="page-link" href="/restaurants?page={{this}}">{{this}}</a>
      </li>
      {{/each}}
      <li class="page-item">
        <a class="page-link" href="/restaurants?page={{next}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  {{/if}}
</div>